{% extends "base.html" %}
{% load static from staticfiles %}
{% block title %}<title>Contact us</title>{% endblock %}
{% block meta %}
<meta name="keywords" content="paris vacation rentals, apartments in paris to rent, holiday to paris, holiday homes in paris, vacation rental in paris, holiday rentals in paris" />
<link rel="canonical" href="http://www.parisvacationrentals.co.uk/contact.html" />
{% endblock %}
{% block body %}
<!--header-->
	<div class="header">
		<div class="container">	
			<div class="logo">
				<a href="index.html"><img src="{% static "img/log.png" %}" alt="Paris Vacation Rentals"></a>
			</div>
				<div class="top-nav">
					<span class="menu"><img src="{% static "img/menu.png" %}" alt="Menu" ></span>
					<ul>
						<li  ><a href="wheretostay.html">Where to stay</a></li>
						<li><a href="story.html" > About us</a></li>
			<!--  		<li><a href="specialoffers.html" > Special Offers  </a></li> -->
						<li><a href="parisguide.html"> Paris Guide</a>
						<li><a href="articles.html" >Articles</a></li>
						<li><a href="contact.html">Contact</a></li>
					</ul>
					<!--script-->
				<script>
					$("span.menu").click(function(){
						$(".top-nav ul").slideToggle(500, function(){
						});
					});
			</script>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	<div class="banner banner-in">
		<div class="container">
			<h6><a href="index.html">HOME</a> / <span>CONTACT</span></h6>
		</div>
	</div>	
		<!---->
	
			<div class="container">
			<div class="contact">
			<div class="contact-in">
				<h3>CONTACT</h3>
				<div class=" col-md-9 contact-left">
					    <form method="post" action=/contact >
					    {% csrf_token %}
					    {{ form.non_field_errors }}

					     <div>
					     <span>
						    	{{ form.name.errors }}
                                <label for="{{ form.subject.name }}">Name:</label>
                                {{ form.name }}
                         </span>
				         </div>
						 <div>
						 <span>
						    	 {{ form.email.errors }}
                                 <label for="{{ form.message.email }}">Email:</label>
                                  {{ form.email }}
						 </span>
						 </div>
						 <div>
						 <span>
						    	{{ form.subject.errors }}
                                <label for="{{ form.sender.subject }}">Subject:</label>
                                {{ form.subject }}
						 </span>
						 </div>
						 <div>
						 <span>
						 <input type="submit" value="Submit">
						 </span>
						 </div>
					     </form>
				  </div>

				<div class=" col-md-3 contact-right">
				     	<h5>Company Information</h5>
						    	<p>Apartment 3 Seacon tower</p> 
					    		<p>5 Hutching street</p>
								<p>London</p>
								<p>E14 8JX</p>
								<p>United Kingdom</p>
				   		<p>Phone:+44 203 397 8610</p>
				 	 	<p>Email: <a href="mailto: parisvacationrentals19@gmail.com"> parisvacationrentals19@gmail.com</a></p>
				    </div>
					  <div class="clearfix"></div>
				 </div>
				
			     <div class="map">
				 <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2483.7613926755203!2d-0.026541000000000002!3d51.499246!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487602c6ce25d4f3%3A0xa8234cd08cd0ce86!2sSeacon+Tower+Serviced+Apartments!5e0!3m2!1sen!2sin!4v1433935046018" width="1140" height="200" frameborder="0" style="border:0"></iframe>
				</div>
      		</div>
		   </div>
{% endblock %}
			