{% extends "base.html" %}
{% load static from staticfiles %}
{% block title %}<title>About Us</title>{% endblock %}
{% block meta %}
<meta name="keywords" content="paris vacation rentals, apartments in paris to rent, holiday to paris, holiday homes in paris, vacation rental in paris, holiday rentals in paris" />
<meta content="We are popular apartment rental company offers vacation rentals in Paris, France at discount prices. Call us to book apartments in Paris." name="Description" />
<meta content="paris apartment rental company, paris apartment rental agency" name="Keywords" />
<link rel="canonical" href="http://www.parisvacationrentals.co.uk/story.html" />
{% endblock %}
{% block body %}
	<div class="header">
		<div class="container">	
			<div class="logo">
				<a href="index.html"><img src="{% static "img/log.png" %}"  alt="Paris Vacation Rentals"></a>
			</div>
				<div class="top-nav">
					<span class="menu"><img src="{% static "img/menu.png" %}" alt="Menu" ></span>
					<ul>
						<li  ><a href="wheretostay.html">Where to stay</a></li>
						<li><a href="story.html" > About us</a></li>
             <!--    	<li><a href="specialoffers.html" >Special Offers</a></li> -->
             			<li><a href="parisguide.html">Paris Guide</a>
						<li><a href="articles.html" >Articles</a></li>
						<li><a href="contact.html">Contact</a></li>
					</ul>
					<!--script-->
				<script>
					$("span.menu").click(function(){
						$(".top-nav ul").slideToggle(500, function(){
						});
					});
			</script>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="banner banner-in">
		<div class="container">
			<h6><a href="index.html">HOME</a>/ <span>About us</span></h6>
		</div>
	</div>
		<!---->
		<div class="container">
			<div class="story-our">
				<h3>About Us</h3>
				<div class="story">
					<div class="col-md-6 story-popular">
						<a href="articles.html"><img class="img-responsive " src="{% static "img/a1.jpg" %}" alt=""></a>
						<h6>Our standards</h6>
						<p>We offer an unbeatable range of holiday homes, vacation apartments and short term lets. We prefer to serve you personally based on our experience and skills. Moreover, we offer unbelievable offers and discounts to our customers without compromising on the quality and standard.</p>
					</div>
					<div class="col-md-6  story-popular">
						<a href="articles.html"><img class="img-responsive " src="{% static "img/a3.jpg" %}"  alt=""></a>
						<h6>Something for everyone</h6>
						<p>Paris Vacation Rentals are available in the options of studio apartments, one- to three-bedroom holiday flats and penthouses. We offer a range of amenities to our guests, such as spacious rooms, designer furniture, hygiene bathrooms, well equipped kitchens, granite floors, large windows, internet, phones and much more.</p>
					</div>		
					<div class="clearfix"> </div>	
			</div>
			<div class="our">
					<div class="col-md-5 our-in">
						<a href="articles.html"><img class=" img-responsive" src="{% static "img/ab.jpg" %}" alt="">  </a>
					</div>
					<div class="col-md-7 in-our">
						<p>Paris Vacation Rentals have been specially designed to provide you the unique combination of luxury, style and comfortable living during your trip to Paris. It offers one-stop destination for all your needs, such as apartment bookings, city information and transport support to famous tourist attractions. The main reason behind the popularity of Paris vacation rentals is that the majority of its apartments are located in close proximity with famous tourist attractions in order to save your time and money even on a time-pressed visit.</p>
						<p class="are">Our exclusive and affordable services result in customer satisfaction and enable them to spread word-of-mouth and referrals that make us even more customer-oriented and encourage us to provide the best possible services to all our clients who visit Paris.</p>
					</div>
					<div class="clearfix"> </div>
				</div>
			<div class="story">
					
					<div class="col-md-6  story-popular">
						<a href="articles.html"><img class="img-responsive " src="{% static "img/a2.jpg" %}" alt=""></a>
						<h6>Infinite Possibilities</h6>
						<p>We provide contemporary facilities like swimming pool, fitness center and lounges. Depending upon your requirement, we will find out the best possible option for you that will suit your taste, budget and preference and will get back to you in just 24 hours.</p>
					</div>
<div class="col-md-6 story-popular">
						<a href="articles.html"><img class="img-responsive " src="{% static "img/a4.jpg" %}" alt=""></a>
						<h6>Happy to help</h6>
						<p>The main reason behind setting up this portal is to provide maximum support to visitors in order to make their trip hassle-free and inspire them to come again and again to Paris. All you need to do is to fill up the enquiry form with complete details.</p>
					</div>					
					<div class="clearfix"> </div>	
			</div>
		</div>
	</div>
	{% endblock %}
				