{% extends "base.html" %}
{% load static from staticfiles %}
{% block title %}<title>Where to stay in Paris</title>{% endblock %}
{% block meta %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="paris vacation rentals, apartments in paris to rent, holiday to paris, holiday homes in paris, vacation rental in paris, holiday rentals in paris" />
<meta name="Description" Content="Where to Stay in Paris France - This article suggest you which is the best place in Paris where you can stay.">
<link rel="canonical" href="http://www.parisvacationrentals.co.uk/wheretostay.html" />
{% endblock %}
{% block body %}
<!--header-->
	<div class="header">
		<div class="container">	
			<div class="logo">
				<a href="index.html"><img src="{% static "img/log.png" %}" alt="Paris Vacation Rentals"></a>
			</div>
				<div class="top-nav">
					<span class="menu"><img src="{% static "img/menu.png" %}" alt="Menu" ></span>
					<ul>
						<li  ><a href="wheretostay.html">Where to stay</a></li>
						<li><a href="story.html" > About us</a></li>
<!--  					<li><a href="specialoffers.html" > Special Offers  </a></li> 					-->
						<li><a href="parisguide.html"> Paris Guide</a>
						<li><a href="articles.html" >Articles</a></li>
						<li><a href="contact.html">Contact</a></li>
					</ul>
					<!--script-->
				<script>
					$("span.menu").click(function(){
						$(".top-nav ul").slideToggle(500, function(){
						});
					});
			</script>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="banner banner-in">
		<div class="container">
			<h6><a href="index.html">HOME</a> / <span>Where to stay</span></h6>
		</div>
	</div>
		<!---->
		<div class="container">
			<div class="services">
					<h3  >Where to stay in Paris</h3>
					<div class="grid-top-top">
						
							<div class="col-md-4 service-grid">
							 	<a href="articles.html"><img class="img-responsive "  src="{% static "img/app1.jpg" %}" alt="" /></a>
							 </div>
							 <div class="col-md-8 top-grid-right">
								 <h4>Paris - The city of Lights..</h4>
								 <p>Situated on the river Seine, Paris is undoubtedly one of the most beautiful and romantic of all cities.  Exquisite cuisine, chic fashion stores and priceless artistic treasures characterise Paris - one of the world’s largest metropolis. It comes with a character that’s unbeatable. It boasts of some of the world famous attractions such as Eiffel Tower, Champs-Elysees, Louvre Pyramid, Grand Palais, Notre Dame Cathedral, Versailles Palace, Louvre, Sainte-Chapelle and many others. It’s no surprise that millions of people come to this city every year to discover and re-discover its grandeur and magnificence.</p>
							</div>
							<div class="clearfix"> </div>
					</div>
					
					<div class="grid-top-top">
						
							
							 <div class="col-md-8 top-grid-right">
								 <h4>Feel like you are at home</h4>
								 <p>These warm and welcoming apartments are more than just the quintessential place to stay. Whether in Montmarte, Marais, Montparnasse or Saint Germain Des Pres, these apartments come with a comfortable and cosy vibe. The decoration is stunning with very original, aesthetic touches; the furniture and other accessories are impressive and the service is simply impeccable. With a large living room, spacious bedrooms and open plan kitchen, space is never really a concern. These perfect budget hideouts are fitted with all the latest electronic equipments and high-end appliances, thus making your stay in Paris extremely comfortable.</p>
							</div>
							<div class="col-md-4 service-grid">
							 	<a href="articles.html"><img class="img-responsive "  src="{% static "img/app.jpg" %}" alt="" /></a>
							 </div>
							<div class="clearfix"> </div>
					</div>
				</div>
			</div>

{% endblock %}
						